* {
  box-sizing: border-box;
}

main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #61DBFB;
  --secondary: #61DBFB;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #1d1d1d;
  --darker: #303030;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

html,
body {
  min-height: 100%;
}
header {
  background: var(--dark);
  border-bottom: 2px solid var(--primary);
  display: flex;
  justify-content: space-between;
  padding: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

hr {
  height: 1px;
  background-color: var(--primary);
  border: none;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--dark);
  color: var(--light);
  font-family: 'Sofia Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sofia Pro', sans-serif;
  font-weight: 600;
  margin: 5px 0;
}

h1 {
  font-size: 2.25rem;
  cursor: pointer;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

button {
	background: var(--dark);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 85%;
}

footer {
  width: 100%;
  height: 2.5rem; 
  text-align: center;
}

input, textarea {
  color: white !important;
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

.rob {
  border-radius: 50%;
  max-height: 350px;
}

.showcase-card {
  font-family: 'Sofia Pro', sans-serif !important;
  color: white !important;
}

.card-container {
  background-color: var(--darker) !important;
}

.card-container button {
  color: white;
  font-family: 'Sofia Pro', sans-serif;
  text-decoration: underline;
}

.resume {
  width: 100%;
  height: auto;
}

.text-bg {
  background-color: var(--darker);
  border-radius: 10px;
  padding: 25px;
  font-size: x-large;
}

.list-container {
  padding-left: 0em;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.navActive {
  color: var(--secondary);
}